h1 {
    text-align: center;
    font-family: Cochin;
    padding-top: 70;
}

form {
    font-size: large;
}

input:checked + label {
    color: lightgrey;
    text-decoration: line-through;
}

.grid-container {
    display: grid;
}

#item1 {
    grid-column: 1;
    grid-row: 1;
}
#item1-edit {
    grid-column: 2;
    grid-row: 1;
}

#item2 {
    grid-column: 1;
    grid-row: 2;
}
#item2-edit {
    grid-column: 2;
    grid-row: 2;
}

#item3 {
    grid-column: 1;
    grid-row: 3;
}
#item3-edit {
    grid-column: 2;
    grid-row: 3;
}

.button {
    display: block;
    float: right;
    font-size: medium;
    font-family: sans-serif;
    background: lightgrey;
    padding: 3px;
    text-align: center;
    border-radius: 3px;
    color: black;
    text-decoration: none;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

#new-item-text {
    order: 1;
    width: 70%;
}

#add-item {
    order: 2;
}​
