.App {
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

.AddItemButton {
  background-color: white;
  border: 0;
  font-family: sans-serif;
  font-size: 16px;
  text-align: left;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.AddItemButton .AddIcon {
  margin-right: 5px;
}

.AddItemButton:hover {
  cursor: pointer;
}

.CompletionButtons {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.ListHeader {
  background-color: white;
  text-align: center;
  z-index: 1;
  width: 100%;
}

.ListItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 96vh;
  width: 96vw;
  margin: 2vh 2vw 2vh 2vw;
}

.ListItems {
  height: 60vh;
  overflow: scroll;
  padding: 0 1% 0 1%;
}

.ListMenuContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 96vh;
  width: 96vw;
  margin: 2vh 2vw 2vh 2vw;
}

.ListMenuDelete {
  background-color: white;
  border-style: none;
  padding-top: 3px;
  margin: 0;
}

.ListMenuItem {
  display: flex;
  justify-content: space-between;
  overflow: scroll;
  padding-top: 3px;
  padding-bottom: 3px;
}

.ListMenuItems {
  height: 80vh;
  overflow: scroll;
  padding: 0 1% 0 1%;
}

.ListMenuItem input[type='text'] {
  outline: 0 lightgrey;
  border: 0 lightgrey;
  font-size: 17px;
  width: 80%;
}

.ListMenuNext {
  background-color: white;
  border-style: none;
  margin-left: 5px;
  padding-bottom: 3px;
}

.ListMenuTitle {
  background-color: white;
  text-align: center;
  z-index: 1;
  width: 100%;
}

.PriorityHeader {
  align-items: center;
  display: flex;
  font-size: 16px;
  padding-right: 2%;
}

.RemoveCompletedButton {
  font-family: sans-serif;
  font-size: 16px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
}

.ShowAllToggleLabel {
  font-family: sans-serif;
  font-size: 16px;
}

.SortHeader {
  align-content: center;
  background: lightgrey;
  border-radius: 2px;
  display: flex;
  height: max-content;
  justify-content: space-between;
}

.SortLabel {
  font-size: 16px;
  width: max-content;
}

.SortMenu {
  margin-left: 10px;
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.SortSelect {
  align-items: center;
  display: flex;
  padding-left: 2%;
}

.Toggle {
  align-items: center;
  display: flex;
  height: max-content;
  justify-content: space-between;
  padding: 1vh 1vw 1vh 1vw;
  width: 100%;
}

.alert-buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.alert-buttons > * {
  width: 100%;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.alert-confirm {
  border-style: solid;
  border-radius: 2px;
  background-color: #ff9b99;
  border-color: #c74241;
  color: #690907;
}

.alert-header {
  margin-top: 0;
  margin-bottom: 0;
}

.alert-info {
  font-size: 16px;
}

.alert-text {
  margin-top: 5px;
  margin-bottom: 5px;
}

.backdrop {
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  z-index: 2;
}

.checkbox {
  align-content: center;
  display: flex;
  flex-direction: column;
  height: 2em;
  justify-content: center;
  width: 2.5em;
}

input[type="checkbox"] {
  margin: 0 0 0 0;
}

.checked input[type='text'] {
  color: gray;
  text-decoration: line-through;
}

.invisible {
  display: none !important;
}

.item {
  display: flex;
  justify-content: space-between;
}

.item input[type='text'] {
  outline: 0 lightgrey;
  border: 0 lightgrey;
  font-size: 17px;
  width: 100%;
}

.ListMenuAdd {
  margin-top: 10px;
}

.modal {
  background-color: #fff;
  border-radius: 3px;
  border-style: solid;
  border-width: 3px;
  border-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  margin: 0 auto;
  top: 80pt;
  width: 200pt;
  padding: 10pt;
  position: relative;
  z-index: 3;
}

h1 {
  font-family: sans-serif;
  text-align: center;
  margin-top: 0;
  padding-top: 10px;
}

hr {
  border: 1px solid #d6d6d6;
  margin-top: 2px;
}

label {
  font-family: sans-serif;
  font-size: large;
}
