.App {
  padding: 5% 5% 0 5%;
  height: 100%;
  box-sizing: border-box;
}

.AddItemButton {
  background-color: white;
  border: 0;
  font-family: sans-serif;
  font-size: 16px;
  text-align: left;
  width: 100%;
}

.AddItemButton .AddIcon {
  margin-right: 5px;
}

.AddItemButton:hover {
  cursor: pointer;
}

.CompletionButtons {
  background-color: white;
  bottom: 0;
  padding-top: 10px;
  position: fixed;
  width: 82%;
}

.ListItemContainer {
  position: relative;
  min-height: 100%;
  padding: 5% 5% 6rem;
}

.RemoveCompletedButton {
  font-family: sans-serif;
  font-size: 16px;
  margin-right: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
}

.ShowAllToggle {
  height: 16px;
}

.ShowAllToggleLabel {
  font-family: sans-serif;
  font-size: 16px;
}

.Toggle {
  display: flex;
  justify-content: space-between;
}

.alert-buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  bottom: -20px;
}

.alert-buttons > * {
  width: 100%;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.alert-confirm {
  border-style: solid;
  border-radius: 2px;
  background-color: #ff9b99;
  border-color: #c74241;
  color: #690907;
}

.alert-text {
  font-size: 16px;
}

.alert-header {
  margin-top: 0;
  margin-bottom: 10px;
}

.backdrop {
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
}

.checked input[type='text'] {
  color: gray;
  text-decoration: line-through;
}

.invisible {
  display: none;
}

.item {
  display: flex;
  justify-content: space-between;
  padding-right: 7px;
}

.item input[type='text'] {
  outline: 0 lightgrey;
  border: 0 lightgrey;
  font-size: 17px;
  width: 100%;
}

.list-header {
  background-color: white;
  top: 0;
  padding-bottom: 10px;
  position: fixed;
  z-index: 5;
  text-align: center;
  width: 100%;
}

.modal {
  background-color: #fff;
  border-radius: 3px;
  border-style: solid;
  border-width: 3px;
  border-color: gray;
  font-size: 20px;
  margin: 0 auto;
  top: 70pt;
  height: 100pt;
  width: 200pt;
  padding: 10pt;
  position: relative;
}

.priority-header {
  font-size: 16px;
  padding-right: 8px;
  height: 20px;
}

.sort-header {
  display: flex;
  justify-content: space-between;
  background: lightgrey;
  border-radius: 2px;
  top: 0px;
  position: fixed;
  width: 82%;
}

.sort-label {
  font-size: 16px;
}

.sort-menu {
  margin-left: 10px;
}

.sort-select {
  padding-bottom: 11px;
  padding-left: 5px;
}

h1 {
  font-family: sans-serif;
  text-align: center;
  margin-top: 0;
  padding-top: 10px;
}

hr {
  border: 1px solid #d6d6d6;
}

label {
  font-family: sans-serif;
  font-size: large;
}
