.App {
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

.AddItemButton {
  background-color: white;
  border: 0;
  font-family: sans-serif;
  font-size: 16px;
  text-align: left;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.AddItemButton .AddIcon {
  margin-right: 5px;
}

.AddItemButton:hover {
  cursor: pointer;
}

.CompletionButtons {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.HeaderBar {
  display: flex;
  justify-content: space-between;
  margin: 5px 3vw 5px 3vw;
  height: 4vh;
}

.HeaderBar > span {
  padding-top: 5px;
}

.HeaderBarLogout {
  height: 28px;
}

.ListHeader {
  background-color: white;
  text-align: center;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.ListHeaderBack {
  background-color: white;
  border-style: none;
}

.ListHeaderName {
  width: 100%;
  margin-right: 24px;
}

.ListItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  width: 96vw;
  margin: 2vh 2vw 2vh 2vw;
}

.ListItems {
  height: 80vh;
  overflow: auto;
  padding: 10px 1% 0 1%;
}

.ListMenuContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 94vh;
  margin: 0vh 2vw 0vh 2vw;
  width: 96vw;
}

.ListMenuDelete {
  background-color: white;
  border-style: none;
  padding-top: 3px;
  margin: 0;
}

.ListMenuItem {
  display: flex;
  justify-content: space-between;
  padding-top: 3px;
  padding-bottom: 3px;
}

.ListMenuButtons {
  flex: 0 0 auto;
}

.ListMenuItems {
  height: 80vh;
  overflow: auto;
  padding: 0 1% 0 1%;
}

.ListMenuItem input[type='text'] {
  flex: 1 1 auto;
  outline: 0 lightgrey;
  border: 0 lightgrey;
  font-size: 17px;
}

.ListMenuNext {
  background-color: white;
  border-style: none;
  margin: 0;
  padding-left: 3px;
}

.ListMenuShare {
  background-color: white;
  border-style: none;
  padding-top: 3px;
  margin: 0;
}

.ListMenuTitle {
  background-color: white;
  text-align: center;
  z-index: 1;
  width: 100%;
}

.LoadingIcon {
  display: block;
  margin: auto;
  padding-top: 40vh;
  width: 48px;
  height: 48px;
}

.PriorityHeader {
  align-items: center;
  display: flex;
  font-size: 16px;
  padding-right: 2%;
}

.RemoveCompletedButton {
  font-family: sans-serif;
  font-size: 16px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
}

.ShareInputText {
  outline: 0 lightgrey;
  font-size: 17px;
}

.ShowAllToggleLabel {
  font-family: sans-serif;
  font-size: 16px;
}

.SignIn {
  display: flex;
  flex-direction: column;
}

.SignInButton {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 60vw;
  font-size: 16px;
}

.SignInGoogleButton {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  width: 60vw;
  display: flex;
  font-size: 16px;
  background-color: white;
  border-style: none;
  align-self: center;
}

.SignInWrapper {
  display: flex;
  flex-direction: column;
  height: 98vh;
  margin: 2vh 20vw 0 20vw;
}

.SignInWrapper input[type='email']{
  font-size: 17px;
  width: 58vw;
  margin-bottom: 10px;
}

.SignInWrapper input[type='password']{
  font-size: 17px;
  width: 58vw;
}

.SignUp {
  display: flex;
  flex-direction: column;
}

.SortHeader {
  align-content: center;
  background: lightgrey;
  border-radius: 2px;
  display: flex;
  height: max-content;
  justify-content: space-between;
}

.SortLabel {
  font-size: 16px;
  width: max-content;
}

.SortMenu {
  margin-left: 10px;
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.SortSelect {
  align-items: center;
  display: flex;
  padding-left: 2%;
}

.TabList {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 0;
}

.TabListItem {
  width: 100%;
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  border: solid grey;
  border-width: 2px 2px 0 2px;
  font-family: sans-serif;
  font-size: 17px;

}

.TabListActive {
  background-color: white;
  border-color: #cccccc;
}

.Toggle {
  align-items: center;
  display: flex;
  height: max-content;
  justify-content: space-between;
  padding: 1vh 1vw 1vh 1vw;
  width: 100%;
}

.Wrapper {
  display: flex;
  flex-direction: column;
}

.alert-buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.alert-buttons > * {
  width: 100%;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.alert-confirm {
  border-style: solid;
  border-radius: 2px;
  background-color: #ff9b99;
  border-color: #c74241;
  color: #690907;
}

.alert-header {
  margin-top: 0;
  margin-bottom: 0;
}

.alert-info {
  font-size: 16px;
}

.alert-text {
  margin-top: 5px;
  margin-bottom: 5px;
}

.backdrop {
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  z-index: 2;
}

.checkbox {
  align-content: center;
  display: flex;
  flex-direction: column;
  height: 2em;
  justify-content: center;
  width: 2.5em;
}

input[type="checkbox"] {
  margin: 0 0 0 0;
}

.checked input[type='text'] {
  color: gray;
  text-decoration: line-through;
}

.invisible {
  display: none !important;
}

.item {
  display: flex;
  justify-content: space-between;
}

.item input[type='text'] {
  outline: 0 lightgrey;
  border: 0 lightgrey;
  font-size: 17px;
  width: 100%;
}

.ListMenuAdd {
  margin-top: 10px;
}

.modal {
  background-color: #fff;
  border-radius: 3px;
  border-style: solid;
  border-width: 3px;
  border-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  margin: 0 auto;
  top: 80pt;
  width: 200pt;
  padding: 10pt;
  position: relative;
  z-index: 3;
}

.modal > input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

div {
  font-family: sans-serif;
}

h1 {
  font-family: sans-serif;
  text-align: center;
  margin-top: 0;
  padding-top: 10px;
}

hr {
  border: 1px solid #d6d6d6;
  margin-top: 2px;
}

label {
  font-family: sans-serif;
  font-size: large;
}
